/*Sets the color and height of the header*/
header {
    height: 75px;
    background-color: #7d1b1b;
    border-radius: initial;
    border-color: #240404;
}

main {
    padding: 20px;
}

/*Sets the color, alignment, size, and padding for main page header text*/
h1 {
    padding-top: 15px;
    text-align: center;
    font-size: 3em;
    color: #f7a457;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Sets the color, alignment, size, and padding for large subheading text*/
h2 {
    font-size: 3em;
    color: #be5800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 30px;
    padding-top: 15px;
}
/*Sets the color, alignment, size, and padding for subheading text*/
h3 {
    font-size: 2em;
    padding-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkred;
}
/*Sets the Navigation text, font, color, and padding*/
nav {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 5px;
    background-color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Sets the padding for nav elements and set text decoration*/
nav a {
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}

/*Colors for Navigation: Hover, Link, and Visited*/
nav a:link {
    color: #fef6c2;
}
nav a:visited {
    color: #d2b48c;
}
nav a:hover {
    color: #cc9933;
}

/*Sets the color and alignment of the footer*/
#footer {
    background-color: #7d1b1b;
    font-size: 0.75em;
    font-style: italic;
    text-align: center;
    padding-bottom: 5px;
}
/*Sets the margins and background color of the site*/
#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffb66b;
    min-width: 900px;
    max-width: 1200px;
    box-shadow: 3px 3px #666;
}
/*Sets the main page image*/
#main-page-image {
    background-image: url(circuits.jpg);
    height: 150px;
    background-size: auto;
    background-position: center;
}
/*Container for information sections*/
#info-sections {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
/*Sets the flex, color, padding and margins for a info area*/
.section {
    flex: 1;
    margin: 0 10px;
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
/*Sets the padding for unordered list*/
ul {
    padding-left: 100px;
    padding-top: 25px;
}
/*Sets the size, padding, and font for the list*/
li {
    font-size: 1.5em;
    padding-bottom: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkred;
}
/*Sets up a area for multiple content*/
.section-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
/*Sets the flex of a content area*/
.content {
    flex: 3;
}

/*below are image css for having left or right side images in a section*/
.right-side-image {
    flex: 1;
    padding-left: 20px;
    padding-top: 20%;
}
.right-side-image img {
    max-width: 100%;
    height: auto;
}

.left-side-image {
    flex: 1;
    padding-right: 20px;
}

.left-side-image img {
    max-width: 100%;
    height: auto;
}

table {
    width: 90%;
    margin: auto;
    border-spacing: 0;
    background-color: burlywood;
    border: solid 3px gray;
}
th,
td {
    padding: 10px;
    border: 1px solid #bcbcbc;
}

th {
    background-color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    color: beige;
}

td {
    font-family: "Times New Roman", Times, serif;
}
/*Sets the display for the Email Me*/
label {
	float: left;
	display: block;
	text-align: right;
	width: 8em;
	padding-right: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkred;
    font-size: medium;
}
input, textarea {
	display: block;
	margin-bottom: 1em;
}
#mySubmit {
	margin-left: 9.5em;
    background-color: cornsilk;
    color: darkred;
}

/*Sets the CSS to adhere to a smaller tablet sized screen.*/
@media only screen and (max-width: 1024px) {
    body {
        margin: 0;
        background-image: none;
    }
    #wrapper {
        width: auto;
        min-width: 0;
        margin: 0;
        padding: 0;
        box-shadow: none;
    }
    h1 {
        margin-top: 0;
        padding-top: 0;
        font-size: 2em;
    }
    p {
        padding-left: 10px;
        padding-right: 10px;
    }
    nav {
        float: none;
        width: auto;
        padding-top: 0;
        font-size: 1.3em;
    }
    nav li {
        display: inline-block;
    }
    nav a {
        padding: 1em;
        width: 8em;
        font-weight: bold;
        border-style: none;
    }
    nav ul {
        padding: 0;
        margin: 0;
    }
    main {
        padding: 0;
        margin: 0;
        font-size: 90%;
    }
    h2 {
        font-size: 2.5em;
    }
    ul {
        padding-left: 75px;
        padding-top: 15px;
    }
    li {
        font-size: 1.25em;
        padding-bottom: 20px;
    }
    label {
	width: 8em;
	padding-right: 5px;
    font-size: 1em;
    }
    input, textarea {
	   size: auto;
    }
}

/*Sets the CSS to accomodate a smaller mobile screen size.*/
@media only screen and (max-width: 768px){
	header {height: 128px; }
	h1 {
		font-size: 2em;
		text-align: center;
		padding-left: 0;
	}
	nav {margin:0}
	nav a { 
		display: block;
		padding: 0.2em;
		width: auto;
		border-bottom: 1px solid #fef6c2;
	}
	nav li {
		display: block;
	}
	main {
		padding-top: 1px;
	}
	h2 {
        font-size: 1em;
		padding: 0.5em 0 0 0.5em;
		margin-right: 0.5em;
	}
	.details {
		padding-left: 0;
		padding-right: 0;
	}
	#heroroad{
		background-image: url(road.jpg)
	}
	#heroguitar{
		background-image: url(guitar.jpg)
	}
	#heromugs{
		background-image: url(threemugs.jpg)
	}
	.floatleft {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
	#mobile {
		display: inline;
	}
	#desktop {
		display: none;
	}
    .right-side-image {
        align-content: center;
        padding-top: 10px;
        padding-left: 20px;
    }
    .content {
        flex: 1;
    }
    .section-content {
        display:block;
    }
    ul {
        padding-left: 25px;
        padding-top: 15px;
    }
    li {
        font-size: 15px;
        padding-bottom: 15px;
    }
    #myContent {
        width: 50%;
    }
    #links a{
        font-size: .5em;
    }
    label {
	   width: 8em;
	   padding-right: 5px;
       font-size: .5em;
    }
    input, textarea {
	   width: 25%;
    }
}
